<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div id="footer-div">
        <p>Say Hello!</p>
        <a href="#">dhanveenmehta2007@gmail.com</a>
        <br>
        <a>Facebook</a>
        <a href="https://www.linkedin.com/feed/" target="_blank"><i class="fa-brands fa-square-linkedin"></i></a>
        <a>Privacy</a>
        <a>Terms</a>
        <p>Made With &#10084;</p>

    </div>
</body>
</html>