<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
        <div id="navbar">
            <a href="#"><img src="#" alt="logo"></a>
            <a href="/listings"><i class="fa-regular fa-house"></i>Home</a>
            <a href="/listings/new"><i class="fa-solid fa-plus"></i>Add Listing</a>
            <a href="#footer-div"><i class="fa-solid fa-phone"></i>Contact Us</a>
            <input placeholder="Search" id="search-box"></input>
            <i id="search-icon" class="fa-solid fa-magnifying-glass"></i>
            
        </div>

    
    
</body>
</html>