#footer-div{
    height: 100px;
    width: 100%;
    background-color:darkturquoise;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: center;
    padding-top: 15px;
    
    
}