*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif ;
    text-decoration: none;
    color: black;
    scroll-behavior: smooth;
     
}
#navbar{
    padding-left: 20px;
    /* border: 2px solid black; */
    height: 100px;
    /* width:100%; */
    font-size: larger;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: static;
    top: 0;
    border-bottom: 2px solid black;
}

#search-box{
    height: 50px;
    width: 250px;
    border-radius: 50px;
    padding-left: 25px;
    font-size: large;
    font-style: oblique;
    margin-right: 5px;
    margin-left: 150px;



}

#search-icon{
    margin-left: 0px;
    /* position: absolute;
    left: 1330px; */
    /* border: 2px solid black; */
    height: 30px;
    width: 30px;
    border-radius: 25px;
    /* background-color: rgba(255, 196, 86, 0.693); */
    padding-top: 5px;
}

#navbar a:hover{
    transform: scale(1.25);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    /* border: 2px solid beige; */
}

#navbar i:hover{
    transform: scale(1.25);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    /* border: 2px solid beige; */
}

#navbar a{
    margin-left: 150px;
}

