<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Listings </title>
</head>
<body>
    <h1>Here Are your all Listings</h1>
    <%for(i in allListings){%>
        
        <p>Title:<%=allListings[i].title%></p>
        <form method="get" action="/listings/<%=allListings[i]._id%>/show">
            <button>See In Detail</button>
        </form>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        
    <%}%>       
        <form method="GET" action="/listings/new">
            <button>ADD NEW LISTING</button>
        </form>
</body>
</html>

